---
/**
 * * Concept / brand story section
 */

import profileImage from "@assets/images/enlee-interior-day.jpg";
import { Image } from "astro:assets";
---

<section id="concept" class="site-container scroll-mt-10 py-20 md:py-32">
	<div class="flex flex-col md:flex-row">
		<div class="md:w-2/3">
			<h2 class="h3 text-primary-500 text-pretty uppercase">Concept</h2>
			<h3 class="h2 mt-4">緑の中で、丁寧な時間を。</h3>
			<div class="mt-8 lg:text-lg">
				<p>
					ロンドンの「ピーターシャム・ナーサリーズ」に着想を得て、2021年に中央公園の中にオープンしたガーデンレストランです。大きな窓から差し込む光、風に揺れる木々、季節ごとに表情を変える庭。そんな景色に囲まれて過ごす時間そのものを、大切な一皿として届けたいと思っています。
				</p>
				<p class="mt-4">
					旬の野菜を使ったランチで一日をはじめる人も、夕暮れどきにデザートとワインでひと息つく人も。特別な日だけでなく、何気ない日常の中にこそ、少しだけ豊かな時間を。それがEnleeの願いです。
				</p>
				<div class="flex w-3/4 justify-end">
					<p class="font-heading-1 text-3xl italic">- Enlee</p>
				</div>
			</div>
		</div>
		<div class="mr-auto max-w-md md:w-1/3 md:max-w-none">
			<div class="my-auto aspect-[3/4] w-full overflow-hidden">
				<Image
					src={profileImage}
					alt="Enlee店内、緑と自然光に満ちた空間"
					width={450}
					densities={[1.5, 2]}
					class="h-auto min-h-full w-full min-w-full object-cover"
				/>
			</div>
		</div>
	</div>
</section>
