---
// main layout
// components
import Button from "@components/Button/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="ページが見つかりません。" noindex={true}>
	<section class="site-container pt-36 text-center md:pt-44">
		<div class="mx-auto max-w-xl px-4 text-center">
			<h1 class="h1">ページが見つかりません</h1>
			<p class="description mt-4">
				申し訳ございません。お探しのページが見つかりませんでした。トップページからお探しください。
			</p>
			<div class="mt-8 flex justify-center">
				<Button variant="primary" href="/">トップページへ戻る</Button>
			</div>
		</div>
	</section>
</BaseLayout>
