---
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import siteData from "@config/siteData.json";
import { Icon } from "astro-icon/components";

import FooterLink from "./FooterLink.astro";

const today = new Date();
---

<footer class="bg-base-100/40 mt-12 flex flex-col items-center justify-center py-8">
	<div class="site-container">
		<!-- footer links -->
		<div
			class="flex w-full flex-col items-center justify-between gap-2 text-lg md:grid md:grid-cols-5"
		>
			<div class="flex justify-center py-2 text-center md:hidden">
				<SiteLogo />
			</div>
			<div class="col-span-2 flex justify-end gap-4">
				<FooterLink href="/">ホーム</FooterLink>
				<FooterLink href="/#portfolio">ご利用シーン</FooterLink>
			</div>
			<div class="hidden justify-center text-center md:flex">
				<SiteLogo />
			</div>
			<div class="flex gap-4 md:col-span-2">
				<FooterLink href="/#pricing">お弁当・オードブル</FooterLink>
				<FooterLink href="/#contact">お問い合わせ</FooterLink>
			</div>
		</div>

		<!-- lets connect -->
		<div class="description mx-auto mt-6 max-w-[21rem] px-4 text-center">
			<p>
				<span class="italic">Follow us!</span> Instagramで日々のEnleeの様子を発信しています。
			</p>
		</div>

		<!-- socials -->
		<div class="text-primary-500 mt-8 flex justify-center gap-4">
			<a
				href="https://www.instagram.com/enlee_fukuyama/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Instagram"
			>
				<Icon name="socials/basil-instagram-solid" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">Instagram</span>
			</a>
			<a href="https://lin.ee/ngJUcCC" target="_blank" rel="noopener noreferrer" aria-label="LINE">
				<Icon name="socials/line" class="size-6 transition hover:opacity-80" />
				<span class="sr-only">LINE</span>
			</a>
		</div>

		<!-- copyright -->
		<div class="mt-4 mb-2 text-center text-sm opacity-80">
			&copy; {today.getFullYear()} {siteData.name}. All rights reserved.
		</div>
	</div>
</footer>
